* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #c9b06d;
  -webkit-box-shadow: 0px 0px 20px 0px #885c22;
          box-shadow: 0px 0px 20px 0px #885c22;
}

header .logo {
  margin: 15px;
}

header .logo img {
  height: 50px;
}

header .huvudrubrik {
  font-family: 'EB Garamond', serif;
  color: white;
  text-shadow: 0 0 5px  black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .hamburger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin: 15px;
  position: relative;
  z-index: 9999;
}

header .hamburger-container .line1 {
  width: 100%;
  height: 3px;
  background: white;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

header .hamburger-container .line1::before, header .hamburger-container .line1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: black;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

header .hamburger-container .line1::before {
  top: 15%;
}

header .hamburger-container .line1::after {
  bottom: 15%;
}

header .hamburger-container.activeBtn {
  z-index: 9999;
}

header .hamburger-container.activeBtn .line1 {
  background: transparent;
}

header .hamburger-container.activeBtn .line1::before {
  -webkit-transform: translateY(12.5px) rotate(45deg);
          transform: translateY(12.5px) rotate(45deg);
}

header .hamburger-container.activeBtn .line1::after {
  -webkit-transform: translateY(-12.5px) rotate(-45deg);
          transform: translateY(-12.5px) rotate(-45deg);
}

.nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  background: #c9b06d;
  inset: 0 0 0 40%;
  border-radius: 10px 0 0 10px;
  -webkit-box-shadow: inset 0px 0px 70px 20px #885c22;
          box-shadow: inset 0px 0px 70px 20px #885c22;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 10;
}

.nav-box .nav-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 30%;
  margin: 0 20%;
}

.nav-box .nav-text-container a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  text-shadow: 0 0 5px  black;
}

.nav-box.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.main-content {
  margin: 15px 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#c9b06d), to(white));
  background: linear-gradient(to bottom, #c9b06d, white);
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5% 0;
}

.main-content article .bild-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content article .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content article img {
  width: 60%;
  -webkit-box-shadow: 0px 0px 20px 3px black;
          box-shadow: 0px 0px 20px 3px black;
  margin: 10px 0;
}

.main-content article .underlinje {
  width: 50%;
  height: 1px;
  background: black;
}

.main-content article .textarea {
  width: 60%;
  margin: 30px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0%;
  width: 100%;
  z-index: 0;
  background: #c9b06d;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 20px 0px #885c22;
          box-shadow: 0px 0px 20px 0px #885c22;
}

.footer .footertext {
  width: 80%;
  position: relative;
  bottom: 0;
}

@media screen and (min-width: 600px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .hamburger-container {
    display: none;
  }
  .nav-box {
    -webkit-transform: translateX(15%) translateY(-43%);
            transform: translateX(15%) translateY(-43%);
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: absolute;
  }
  .nav-box .nav-text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    top: 0;
  }
  .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space;
        -ms-flex-pack: space;
            justify-content: space;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-content article .textarea {
    width: 80%;
  }
  .main-content article .bild-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-content article .bild-container img {
    width: 400px;
    margin: 30px;
  }
  .main-content article.article1, .main-content article.article3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-content article.article1 .text-container, .main-content article.article3 .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-content article.article2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-content article.article2 .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */